### Project Specific ###
EscapeRoom/Content/StarterContent/


### Unreal Engine ###
*/DerivedDataCache
*/Build
*/Binaries
*/Intermediate
*/Saved

### Visual Studio ###
*.VC.db
.vs/*
*.ipch
*.suo
*.VC.opendb
*.sln